<div class="product-item" data-id="{{_id}}">
    <img src="{{image}}" alt="{{name}}"/>
    <div>
        <h3>{{name}}</h3>
        <p>{{description}}</p>
        <a href="{{attachment}}" download="{{name}}">Download Flyer</a>
    </div>
</div>