<div class="product-item" data-id="{{_id}}">
    <img src="{{image}}" alt="{{name}}"/>
    <div>
        <h4>{{name}}</h4>
        <p>{{description}}</p>
        {{#if attachment}}
            <a href="{{attachment}}" download="{{name}}">Download Flyer</a>
        {{/if}}
    </div>
</div>